

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Exo;
}
@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}
.main{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #426942;
}
.profile-card{
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
}
.caption p{
  font-size: 16px;
  color: #0d0f13;
  margin: 2px 0 9px 0;
  font-weight:bold ;
}
.caption .social-links a{
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}
.caption{  
  color: #2c642c ;}
     body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
     

      
    }

    .about-us {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #ddd;
    }

    .about {
      display: flex;
      align-items: center;
      max-width: 90%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    }

    .pic {
      width: 300px;
      height: auto;
      margin-right: 20px;
    }

    .text {
      flex: 1;
    }

    .text h2 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .text h5 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    span {
      color: #4070f4;
    }

    .text p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .data {
      margin-top: 30px;
    }

    .hire {
      font-size: 16px;
      background: #4070f4;
      color: #fff;
      text-decoration: none;
      border: none;
      padding: 8px 20px;
      border-radius: 6px;
      transition: 0.3s;
    }

    .hire:hover {
      background: #000;
      border: 1px solid #4070f4;
    }